<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Craftaraah Gift Hampers</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/user/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/user/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/user/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/user/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/user/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/user/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/user/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/user/css/style.css" type="text/css">
</head>

<body>

    <!-- Humberger Menu Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a href="/"><img src="/user/craftaraah.png" alt="Logo"></a>
    </div>
    <div class="humberger__menu__cart">
        <ul>
            <li><a href="/wishlist"><i class="fa fa-heart"></i><span>1</span></a></li>
            <li><a href="/shoppingCart"><i class="fa fa-shopping-bag"></i><span>3</span></a></li>
        </ul>
    </div>
    <div class="humberger__menu__widget">
        <div class="header__top__right__auth">
            <% if (locals.user) { %>
                <div class="dropdown">
                    <a href=""><i class="fa fa-user"></i>
                        <%=locals.user.name%>
                    </a>
                    <div class="dropdown-content">
                        <a href="/userProfile">Profile</a>
                        <a href="/logout">Logout</a>
                    </div>
                </div>
            <% } else { %>
                <a href="/login"><i class="fa fa-user"></i> Login</a>
            <% } %>
        </div>
    </div>
    <nav class="slicknav_nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="/userProfile">Profile</a></li>
        </ul>
    </nav>
</div>
<!-- Humberger Menu End -->

<!-- Humberger Open Button -->
<div class="humberger__open">
    <i class="fa fa-bars"></i>
</div>


    <!-- Header Section Begin -->
    <header class="header container-fluid mb-4">
        <div class="header__top">
            <div class="container-fluid">
                <div class="row d-flex align-items-center justify-content-between px-3">
                    <div>
                        <div class="header__top__left">
                            <img style="height: 40px;" src="/user/craftaraah.png" alt="">
                        </div>
                    </div>
                    <div>
                        <nav class="header__menu">
                            <ul>
                                <li class=""><a href="/">Home</a></li>
                                <li><a href="/shop">Shop</a></li>
                                <li><a href="/userProfile">Profile</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div>
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <div class="d-flex">
                                    <a href="/wishlist"><i class="fa fa-heart"></i></a>
                                    <a href="/shoppingCart"><i class="fa fa-shopping-bag"></i></a>
                                </div>
                            </div>
                            <div class="header__top__right__auth">
                                <%if(locals.user){%>
                                    <div class="dropdown">
                                        <a href=""><i class="fa fa-user"></i>
                                            <%=locals.user.name%>
                                        </a>
                                        <div class="dropdown-content">
                                            <a href="/userProfile">Profile</a>
                                            <a href="/logout">Logout</a>
                                        </div>
                                    </div>
                                    <%}else{%>
                                        <a href="/login"><i class="fa fa-user"></i> Login</a>
                                        <%}%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
