body{
	margin: 0;
	height: 100vh;
	position: relative;
	font-family: 'Jost', sans-serif;
	background-color: #fff;
}
.main{
	width: 350px;
	height: 700px;
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #7fad39;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: #573b8a;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 50px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 10px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 10px auto;
	padding: 12px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 30px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #6d44b8;
}
.login{
	height: 650px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: #573b8a;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-700px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}

.google {
	width: 200px;
	margin-left: 75px;
	margin-top: 20px;
}

.error {
	color: red;
	font-size: 0.75rem;
	display: none;
	padding-left: 60px;
}

.alert{
	color: red;
	text-align: center;
}

.forgot-password-link{
	font-size: 0.875rem;
	color: lightblue;
	text-decoration: none;
	margin-left: 120px;
}

.forgot-password-link:hover{
	color: rgb(13, 145, 253);
	text-decoration: underline;
}


@media only screen and (max-width: 767px) {
	#login_main{
		width: 100vw;
		height: 100vh;
		top: 0;
	}
}