<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="/css/login.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form>
					<label for="chk" aria-hidden="true">Signin</label>
					<input type="email" name="email" placeholder="Email">
					<input type="password" name="password" placeholder="Password">
					<button>Signin</button>
                    <img class="google" src="/img/login/signin.png" alt="Google Logo">
				</form>
			</div>

			<div class="login">
				<form method="post" action="/signup">
					<label for="chk" aria-hidden="true">Signup</label>
                    <input type="text" id="name" name="name" placeholder="Full Name">
					<input type="email" id="email" name="email" placeholder="Email">
                    <input type="text" id="phone" name="phone" placeholder="Phone">
					<input type="password" id="password1" name="password" placeholder="Password">
                    <input type="password" id="password2" placeholder="Confirm Password">
					<button>Signup</button>
                    <img class="google" src="/img/login/signup.png" alt="Google Logo">
				</form>
			</div>
	</div>
</body>
</html>