<!DOCTYPE html>
<html>

<head>
    <title>Slide Navbar</title>
    <link rel="stylesheet" type="text/css" href="/user/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main">
        <div class="signup">
            <form action="/resetPassword" method="post" id="resetForm">
                <label for="chk" aria-hidden="true">Reset password</label>
                <input type="password" name="password" placeholder="Enter new password" id="password1">
                <div id="password1Error" class="error"></div>
                <input type="password"  placeholder="Confirm passsword" id="password2">
                <div id="password2Error" class="error"></div>
                <div id="emailError" class="error"></div>
                <button>Reset</button>
            </form>
        </div>
    </div>

    <script>
        const validate = () => {
            const resetForm = document.getElementById('resetForm')
            const password1 = document.getElementById('password1')
            const password2 = document.getElementById('password2')
			const password1Value = password1.value;
			const password2Value = password2.value;
            const password1Error = document.getElementById('password1Error')
            const password2Error = document.getElementById('password2Error')
			const passwordPattern = /^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[^a-zA-Z0-9]).+$/

			if (password1Value.length < 8) {
				password1Error.style.display = 'block';
				password1Error.innerHTML = 'Enter Minimum 8 characters';
			} else if (!passwordPattern.test(password1Value)) {
				password1Error.style.display = 'block';
				password1Error.innerHTML = 'Password should contain alphabets, numbers and special characters'
			} else {
				password1Error.style.display = 'none';
				password1Error.innerHTML = '';
			}

			if (password1Value !== password2Value) {
				password2Error.style.display = 'block';
				password2Error.innerHTML = 'Passwords do not match';
			} else {
				password2Error.style.display = 'none';
				password2Error.innerHTML = '';
			}
		}

        document.addEventListener('DOMContentLoaded', () => {
			resetForm.addEventListener('submit', (event) => {

				validate()
				if (password1Error.innerHTML || password2Error.innerHTML) {
					event.preventDefault();
				}
			})
		})
        
    </script>
</body>

</html>